.bookmark__container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.bookmark__container__tab {
    align-items: center;
    background: white;
    box-shadow: $buttonShadow;
    border: 1px solid $marvelGrey;
    border-radius: .4rem;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.4rem;
    margin-right: 1rem;
    min-width: 8rem;
    width: 8rem;
    min-height: 3.6rem;
    text-transform: uppercase;
    text-align: center;
    transition: background-color color 1s;
}

.bookmark__container__tab--clicked {
    @extend .bookmark__container__tab;
    background-color: $marvelRed;
    border: none;
    color: white;
}

button:focus {
    outline: 0;
}