.characters-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
    @media (min-width: $mediumScreen) {
        justify-content: stretch;
    }
}

.no-results-message {
    font-size: 2rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 1rem;
    width: 100%
}

.bookmarked-heroes-title {
    @extend .no-results-message;
    background-color: $marvelRed;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    line-height: 1;
    margin-bottom: 2rem;
    text-transform: uppercase;
    h4 {
        color: white;
        font-size: 2.2rem;
        padding: .5rem;
    }
}