.character-card {
    color: $mediumGrey;
    display: flex;
    flex-direction: column;
    margin: 1rem .3rem;
    min-height: 100%;
    position: relative;
    top: 0;
    width: 34rem;
    h1 {
        color: white;
        cursor: pointer;
        font-size: 2rem;
        margin: 0;
    }
    p {
        line-height: 1.4;
        font-weight: bold;
        text-transform: uppercase;
        margin: 1rem 0 0 0;
    }
    @media (min-width: $mediumScreen) {
        margin: 1.7rem;
    }
    @media (min-width: $largeScreen) {
        margin: 1rem;
        width: 27rem;
    }
    @media (min-width: $xlargeScreen) {
        margin: .7rem;
        width: 25rem;
    }
}

.character-card__content {
    background: $marvelBlack;
    border-top: .7rem solid $marvelRed;
    padding: 2rem 1rem;
    height: 18rem;
    width: 34rem;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 340;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
    @media (min-width: $largeScreen) {
        width: 27rem;
    }
    @media(min-width: $xlargeScreen) {
        width: 25rem;
    }
}

.character-card__thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    width: 34rem;
    height: 34rem;
    opacity: .8;
    transition: opacity .5s ease-in;
    @media (min-width: $largeScreen) {
        height: 27rem;
        width: 27rem;
    }
    @media(min-width: $xlargeScreen) {
        height: 25rem;
        width: 25rem;
    }
}

.character-card__thumb:hover {
    opacity: 1;
}

.character-list {
    box-shadow: $card-shadow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem auto;
    overflow: auto;
    width: 100%;
    h1 {
        cursor: pointer;
    }
}

.character-list__thumb {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    height: 10rem;
    margin-right: 1rem;
    min-width: 10rem;
    position: relative;
    width: 11rem;
    @media (min-width: $largeScreen) {
        height: 20rem;
        min-width: 20rem;
    }
}

.character-list__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 89%;
    h2 {
        margin-bottom: .5rem;
    }
    @media (min-width: $largeScreen) {
        font-size: 2rem;
        height: 20rem;
    }
}