.dialog {
    background-color: $modalScreen;
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.dialog__container {
    background-color: $marvelBlack;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin: 10% auto;
    min-height: 37rem;
    padding: 4rem 0;
    overflow: auto;
    width: 80%;
    @media(min-width: $mediumScreen) {
        width: 50%;
        border-radius: .5rem .5rem 0 0;
    }
    p {
        margin: 1rem 0;
    }
}

.dialog__container__content {
    span {
        border-radius: 50%;
        height: 3rem;
        float: right;
        font-size: 1.8rem;
        padding-top: .7rem;
        text-align: center;
        width: 3rem;
    }
}

.dialog__container__content span:hover,
.dialog__container__content span:focus {
    text-decoration: none;
    cursor: pointer;
}

.dialog__container__content--icon {
    color: white;
}

.dialog__container__content--header {
    background-color: $marvelRed;
    color: white;
    padding: 2rem;
}

.dialog__container__content--body {
    @extend .dialog__container__content--header;
    background-color: $marvelBlack;
    display: flex;
    flex-direction: column;
}

.dialog__container__content--body__avatar {
    background-size: contain;
    background-repeat: no-repeat;
    height: 10rem;
    width: 10rem;
}