.search__container {
  margin: 25rem auto 1rem auto;
}

.search-input {
  border: 0;
  border-bottom: .20rem solid black;
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 5px 5px 30px;
  width: 100%;
  @media(min-width: $mediumScreen) {
    font-size: 4rem;
  }
}