
.toggle-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    min-height: 4rem;
    width: 100%;
}

.toggle-icon {
    color: $marvelRed;
    font-size: 3rem;
    margin-top: 1rem;
}
