.header {
    background-color: $marvelGrey;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 0;
    overflow: auto;
    position: absolute;
    padding: 3rem;
    top: 0;
    width: 100%;
    z-index: 80;
}

.header__container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 15rem;
    @media (min-width: $mediumScreen) {
        width: 25rem;
    }
}

.header__container__logo {
    height: 6rem;
    background-image: url($marvelLogo);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    @media (min-width: $mediumScreen) {
        height: 10rem;
    }
}