@font-face {
    font-family: "Marvel";
    src: url("https://fonts.gstatic.com/s/marvel/v7/nwpVtKeoNgBV0qa4llTF.woff2") format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Marvel", sans-serif;
}