.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container__app {
    flex: 1 0 auto;
    margin: 0 auto;
    overflow: auto;
    padding: 0 1rem 7rem 1rem;
    position: relative;
    width: 100%;
    @media (min-width: $largeScreen) {
        width: 90%;
    }
}