// colors:
$marvelRed:#EA001D;
$offWhite:#e0e0e0;
$lightGrey:#797979;
$mediumGrey: #444;
$marvelGrey:#22262A;
$marvelBlack:#151515;
$modalScreen: rgba(255, 255, 255, 0.4);
// sizes:
$mediumScreen:768px;
$largeScreen:992px;
$xlargeScreen:1200px;
// shadows:
$card-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
$buttonShadow:0px 1px 5px 0px rgba(0, 0, 0, 0.2),
0px 2px 2px 0px rgba(0, 0, 0, 0.14),
0px 3px 1px -2px rgba(0, 0, 0, 0.12);
// images:
$marvelLogo:"https://cdn.worldvectorlogo.com/logos/marvel.svg";