@font-face {
  font-family: "Marvel";
  src: url("https://fonts.gstatic.com/s/marvel/v7/nwpVtKeoNgBV0qa4llTF.woff2") format("woff2"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: "Marvel", sans-serif; }

.search__container {
  margin: 25rem auto 1rem auto; }

.search-input {
  border: 0;
  border-bottom: .20rem solid black;
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 5px 5px 5px 30px;
  width: 100%; }
  @media (min-width: 768px) {
    .search-input {
      font-size: 4rem; } }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.container__app {
  flex: 1 0 auto;
  margin: 0 auto;
  overflow: auto;
  padding: 0 1rem 7rem 1rem;
  position: relative;
  width: 100%; }
  @media (min-width: 992px) {
    .container__app {
      width: 90%; } }

.characters-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  overflow: auto;
  width: 100%; }
  @media (min-width: 768px) {
    .characters-items {
      justify-content: stretch; } }

.no-results-message, .bookmarked-heroes-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 1rem;
  width: 100%; }

.bookmarked-heroes-title {
  background-color: #EA001D;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-transform: uppercase; }
  .bookmarked-heroes-title h4 {
    color: white;
    font-size: 2.2rem;
    padding: .5rem; }

.toggle-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  min-height: 4rem;
  width: 100%; }

.toggle-icon {
  color: #EA001D;
  font-size: 3rem;
  margin-top: 1rem; }

.character-card {
  color: #444;
  display: flex;
  flex-direction: column;
  margin: 1rem .3rem;
  min-height: 100%;
  position: relative;
  top: 0;
  width: 34rem; }
  .character-card h1 {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin: 0; }
  .character-card p {
    line-height: 1.4;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0; }
  @media (min-width: 768px) {
    .character-card {
      margin: 1.7rem; } }
  @media (min-width: 992px) {
    .character-card {
      margin: 1rem;
      width: 27rem; } }
  @media (min-width: 1200px) {
    .character-card {
      margin: .7rem;
      width: 25rem; } }

.character-card__content {
  background: #151515;
  border-top: 0.7rem solid #EA001D;
  padding: 2rem 1rem;
  height: 18rem;
  width: 34rem;
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 340;
  justify-content: space-between;
  padding: 1rem;
  text-align: center; }
  @media (min-width: 992px) {
    .character-card__content {
      width: 27rem; } }
  @media (min-width: 1200px) {
    .character-card__content {
      width: 25rem; } }

.character-card__thumb {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  width: 34rem;
  height: 34rem;
  opacity: .8;
  transition: opacity .5s ease-in; }
  @media (min-width: 992px) {
    .character-card__thumb {
      height: 27rem;
      width: 27rem; } }
  @media (min-width: 1200px) {
    .character-card__thumb {
      height: 25rem;
      width: 25rem; } }

.character-card__thumb:hover {
  opacity: 1; }

.character-list {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .5rem auto;
  overflow: auto;
  width: 100%; }
  .character-list h1 {
    cursor: pointer; }

.character-list__thumb {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  height: 10rem;
  margin-right: 1rem;
  min-width: 10rem;
  position: relative;
  width: 11rem; }
  @media (min-width: 992px) {
    .character-list__thumb {
      height: 20rem;
      min-width: 20rem; } }

.character-list__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 89%; }
  .character-list__content h2 {
    margin-bottom: .5rem; }
  @media (min-width: 992px) {
    .character-list__content {
      font-size: 2rem;
      height: 20rem; } }

.dialog {
  background-color: rgba(255, 255, 255, 0.4);
  display: block;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

.dialog__container {
  background-color: #151515;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin: 10% auto;
  min-height: 37rem;
  padding: 4rem 0;
  overflow: auto;
  width: 80%; }
  @media (min-width: 768px) {
    .dialog__container {
      width: 50%;
      border-radius: .5rem .5rem 0 0; } }
  .dialog__container p {
    margin: 1rem 0; }

.dialog__container__content span {
  border-radius: 50%;
  height: 3rem;
  float: right;
  font-size: 1.8rem;
  padding-top: .7rem;
  text-align: center;
  width: 3rem; }

.dialog__container__content span:hover,
.dialog__container__content span:focus {
  text-decoration: none;
  cursor: pointer; }

.dialog__container__content--icon {
  color: white; }

.dialog__container__content--header, .dialog__container__content--body {
  background-color: #EA001D;
  color: white;
  padding: 2rem; }

.dialog__container__content--body {
  background-color: #151515;
  display: flex;
  flex-direction: column; }

.dialog__container__content--body__avatar {
  background-size: contain;
  background-repeat: no-repeat;
  height: 10rem;
  width: 10rem; }

.header {
  background-color: #22262A;
  display: flex;
  justify-content: center;
  flex-direction: column;
  left: 0;
  overflow: auto;
  position: absolute;
  padding: 3rem;
  top: 0;
  width: 100%;
  z-index: 80; }

.header__container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 15rem; }
  @media (min-width: 768px) {
    .header__container {
      width: 25rem; } }

.header__container__logo {
  height: 6rem;
  background-image: url("https://cdn.worldvectorlogo.com/logos/marvel.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 768px) {
    .header__container__logo {
      height: 10rem; } }

.footer {
  background-color: #151515;
  color: white;
  font-size: 1.4rem;
  flex-shrink: 0;
  letter-spacing: .2rem;
  line-height: 1;
  margin: 0;
  padding: 5rem 0 10rem 0;
  text-align: center;
  text-transform: uppercase; }

.footer__container--copyright-message {
  margin-top: 1rem; }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.lds-dual-ring {
  position: relative; }

.lds-dual-ring div {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 12px solid #000;
  border-color: #EA001D transparent #EA001D transparent;
  -webkit-animation: lds-dual-ring 1s linear infinite;
  animation: lds-dual-ring 1s linear infinite; }

.lds-dual-ring {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px); }

.spinner {
  margin: 0 auto;
  width: 200px; }

.bookmark__container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem; }

.bookmark__container__tab, .bookmark__container__tab--clicked {
  align-items: center;
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  border: 1px solid #22262A;
  border-radius: .4rem;
  cursor: pointer;
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.4rem;
  margin-right: 1rem;
  min-width: 8rem;
  width: 8rem;
  min-height: 3.6rem;
  text-transform: uppercase;
  text-align: center;
  transition: background-color color 1s; }

.bookmark__container__tab--clicked {
  background-color: #EA001D;
  border: none;
  color: white; }

button:focus {
  outline: 0; }

/*# sourceMappingURL=styles.css.map */
